* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* for the entire page*/
}
body {
    margin: 16px 30px;
    background-image: url("../images/background-webpage-coffee.jpg");
    height: 100vh;  
}

header{
    height: 3rem;
    background-color: rgb(102, 74, 74);
    align-content: center;
    margin: 20px 0px;
   
}

#nav-links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row; 
  list-style: none;
  align-items: center;
  font-size: 23px;
 
    
  
}

/* the actual links */
#nav-links a{
    color: white;
    text-decoration: none;

}

#nav-links a:hover{
    color: black;
    border: solid white;
}

/*container holding the coffee image */
.hero-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
    
}
#coffee-pic {
   border-radius: 100px;
   height: 200px;
   
}


h1 {
-webkit-text-stroke: 2px black; /* width and color */
   display: flex;
   justify-content: center;
   margin-top: 20px;
   font-family: 'Times New Roman', Times, serif;
   color: rgb(102, 74, 74);
   font-size: 3em;
   

}


h2 {
   -webkit-text-stroke: 2px black; /* for black lining for the colors*/
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    color: rgb(102, 74, 74);
    
    
}

.hero-container-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}


.list-of-facts {
  background-color: antiquewhite;
  color: rgb(102, 74, 74);
  font-weight: bold;
  padding: 25px;
  border-radius: 20px;
  list-style-type: none;
  font-size: 18px
}

#coffee-list {
    padding: 10px;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
    background-color: #ad5959;
    text-decoration: none;
    color: black;
    font-weight: bold;
    
    
}

#coffee-list:hover{
  margin-right: 10px;
  background-color: black;
  color: #ad5958;
  font-weight: bold;
}

.ice-brew-coffee {
  background-color: #ad5959;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:url("../images/coffeebackground.png")
  
}

.ice-brew-coffee img {
 
  max-width: 100%;
  height: auto;
  border-radius: 10px;

  
}

.card {
  /* flex: 1 1 200px; */
  background:  rgb(78, 47, 47);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 600px;
  align-self: center;
  justify-self: center;
  
  
  
}

.coffeeDisplay {
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#card-title {
    color: black;
    margin-bottom: 70px;
    width: auto;
    
}
#coffee-description {
  /* -webkit-text-stroke: 2px black; */
   Color: rgb(78, 47, 47);
   font-weight: bold;
   font-size: 32px;
   background-color: rgb(223, 199, 152);
   margin-top: 20px;
}


#coffeeDisplay img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 10px;
  
}

#hotButton {
    padding: 10px;
    background-color: rgb(218, 37, 52);
    color: black;
    border-radius: 20px;
    font-weight: bold;

}

#coldButton {
    padding: 10px;
    background-color: aqua;
    color: black;
    border-radius: 20px;
    font-weight: bold;
}



@media (max-width: 968px) {

 
  .hero-container-list{
    display: flex;
    justify-content: center;
  }
  .ice-brew-coffee {
    display:flex;
    justify-content: center;
    width: 500px;
  }
  .card {
    background: orange
  }
  .list-of-facts{
    display: none;
  }
  }

  
  
