* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* for the entire page*/
}

header{
    height: 3rem;
    background-color: rgb(102, 74, 74);
    align-content: center;
}

#nav-links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row; 
  list-style: none;
  align-items: center;
  font-size: 23px;
}

/* the actual links */
#nav-links a{
    color: white;
    text-decoration: none;

}

#nav-links a:hover{
    color: black;
    border: solid white;
}

/*container holding the coffee image */
.hero-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#coffee-pic {
   border-radius: 100px;
   height: 200px
}


h1 {
   display: flex;
   justify-content: center;
   margin-top: 20px;
}




body {

    background: blanchedalmond;
}




