* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* for the entire page*/
}
body {
    margin: 16px 30px;
    background-image: url("../images/background-webpage-coffee.jpg");

   
    

}

header{
    height: 3rem;
    background-color: rgb(102, 74, 74);
    align-content: center;
    margin: 20px 0px
}

#nav-links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row; 
  list-style: none;
  align-items: center;
  font-size: 23px;
  
    
  
}

/* the actual links */
#nav-links a{
    color: white;
    text-decoration: none;

}

#nav-links a:hover{
    color: black;
    border: solid white;
}

/*container holding the coffee image */
.hero-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
#coffee-pic {
   border-radius: 100px;
   height: 200px
}


h1 {
-webkit-text-stroke: 2px black; /* width and color */
   display: flex;
   justify-content: center;
   margin-top: 20px;
   font-family: 'Times New Roman', Times, serif;
   color: orangered;
   font-size: 3em;
   

}


h2 {
   -webkit-text-stroke: 2px black; /* width and color */
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    color: orangered
    
    
}

/* facts section in the middle of the page */
.list-of-facts {
   
    
    
    
}

/* section for the text of facts and the bubble in the middle */
.hero-container-list {
    display: grid;
    list-style-type: none;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "list-of-facts    form"
        "footer   footer";
    padding: 22px 70px 
}
.list-of-facts {
    color: orangered;
    font-weight: bold;
    background-color: antiquewhite;
    padding: 25px;
    border-radius: 70px;
    list-style-type: none;
}

.ice-brew-coffee {
    margin-left: 100px;
    background-color: #ad5959;
    
}

.form {
    height: 200px
}


@media (max-width: 768px) {
  .hero-container-list {
    border-color: blue;
    background: white;
  }
  .list-of-facts {
    
  }



}
